---
---

<!DOCTYPE html>
<html>
<head>
<title>J. Garrett Morris</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://use.typekit.net/hgl6iue.css">
<link rel="stylesheet" href="css/styles.css">

<style type="text/css">
.head {
  margin-left: 30px;
  font-family: austin-pen, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 36pt;
  font-style: normal;
  color: #000033;
}

.head::after {
  content: "";
  display:block;
  margin-left: -30px;
  margin-top: -39px;
  border-top: 1.5px solid;
}
</style>

</head>

<body>

<div class="topBox">
  <div class="head">J&thinsp;Garrett&thinsp;Morris</div>
  <br>
  <div class="subhead">
    <a class="invisible" href="https://cs.uiowa.edu">The University of Iowa</a>
  </div>
</div>

<div class="box" id="about">
  <h1>introduction</h1>

  <section class="twoversions">

    <input type="checkbox" name="collapse" id="bio" />

    <section id="short">
      <p>
        I am an assistant professor in the <a href="https://cs.uiowa.edu">Department of
        Computer Science</a> at the <a href="https://www.uiowa.edu">University of
        Iowa</a>, where I lead the <a href="#group">Iowa Foundations of Programming Group</a>
        and co-lead the <a href="https://clc.cs.uiowa.edu/site/index.shtml">Computational
        Logic Center</a> with <a href="https://sites.google.com/view/katherinekosaian/home">Katherine Kosaian</a>,
        and <a href="http://www.cs.uiowa.edu/~tinelli">Cesare Tinelli</a>. <label for="bio">See
        fuller biography &#10087;</label>
      </p>
    </section>

    <section id="long">
      <p>
        I am an assistant professor in the <a href="https://cs.uiowa.edu">Department of
        Computer Science</a> at the <a href="https://www.uiowa.edu">University of
        Iowa</a>, where I lead the <a href="#group">Iowa Foundations of Programming Group</a>
        and co-lead the <a href="https://clc.cs.uiowa.edu/site/index.shtml">Computational
        Logic Center</a> with <a href="https://sites.google.com/view/katherinekosaian/home">Katherine Kosaian</a>,
        and <a href="http://www.cs.uiowa.edu/~tinelli">Cesare Tinelli</a>.
      </p>

      <p>
        Before my current post, I was faculty at the University of Kansas, and was a
        postdoctoral researcher in the <a href="http://wcms.inf.ed.ac.uk/lfcs/">Laboratory for
        Foundations of Computer Science</a> at the <a href="http://www.ed.ac.uk/home">University of Edinburgh</a>.  I worked with
        <a href="http://homepages.inf.ed.ac.uk/wadler/">Phil Wadler</a>
        and <a href="http://homepages.inf.ed.ac.uk/slindley/">Sam Lindley</a> on
        the <a href="http://groups.inf.ed.ac.uk/abcd">ABCD</a> project, which studies the role of
        session types in safe concurrent and distributed programming, and contributed to the design and
        implementation of linear types and session types for
        the <a href="http://groups.inf.ed.ac.uk/links">Links programming language</a>.
      </p>

      <p>
        I received my
        Ph.D. from the <a href="http://www.cs.pdx.edu">computer science department</a>
        at <a href="http://www.pdx.edu">Portland State University</a>, advised
        by <a href="http://cs.pdx.edu/~mpj">Mark P. Jones</a>.  As part of
        the <a href="http://hasp.cs.pdx.edu">High Assurance Systems Programming</a> project, I
        contributed to the design of the <a href="http://www.habit-lang.org">Habit programming
        language</a>, particularly its class system, and to the development of
        the <a href="https://github.com/habit-lang/alb">Habit compiler</a>, particularly its
      typechecking and desugaring components.
      </p>
    </section>
  </section>
</div>

<div class="box" id="group">
  <h1>research group</h1>

  <p>
    <em>The Iowa Foundations of Programming group</em> consists of: me,
    {% assign people = site.data.people | where_exp: "person", "person.status == nil" %}
    {% for person in people %}
      {% if forloop.last %}
        and
      {% endif %}
      {%- if person.link -%}
        <a href="{{person.link}}">{{person.name}}</a>
      {%- else -%}
        {{person.name}}
      {%- endif -%}
      {%- if forloop.last -%}
        .
      {%- else -%}
        ,
      {%- endif -%}
    {% endfor %}
    We study how we construct programs and how we reason about them.  Our thesis is that
    advances in type systems empower programmers to create better-written, better-understood
    programs:
  </p>

  <ul class="inline">
    <li>
      <em>More precise type systems better characterize program behavior.</em> For example, we have
      studied the use of substructural type systems to guarantee lock freedom in concurrent
      programs.
    </li>
    <li>
      <em>More expressive type systems enable powerful, generic abstractions.</em>  For example, we have
      studied the use of qualified types to capture a uniform description of a variety of methods
      for composing records, variants, and program modules.
    </li>
  </ul>

  <p>
    <em>These advances form a virtuous cycle.</em>  More precise types enable better abstractions, while
    expressive abstractions make precise type systems easy to use.
  </p>

  <p>
    <em>We are always looking for new members.</em>  If you have a background in
    functional programming, an interest in the theory and implementation of type
    systems in modern functional languages, and want to pursue a PhD with us at
    UI, please get in touch.
  </p>

  <p>
    <em>We am currently hiring a postdoctoral scholar</em> to work on the
    foundations of type classes, type families, and extensibility. See <a
    href="postdoc.html">here</a> for more details.
  </p>

</div>

<div class="box" id="grants">
  <h1>sponsored projects</h1>

  {% for project in site.projects reversed %}

    <section class="expands">
      <input type="checkbox" name="collapse" id="{{ project.agency-id }}" />

      <p class="title">
        <label for="{{ project.agency-id }}">
          <em>{{ project.title }}</em>,
          {{ project.my-position }}.
          {{ project.agency }}.
          {{ project.start-year }}&ndash;{{ project.end-year }}
        </label>
      </p>

      <div id="content">
        <section class="abstract">
          {{ project.abstract | markdownify }}
        </section>

        <p>
          This is NSF award <a href="{{ project.agency-url }}">{{ project.agency-id }}</a>; progress will be recounted <a href="{{ project.url }}">here</a>.
        </p>
      </div>

    </section>

  {% endfor %}

</div>

<div class="box" id="research">
  <h1>publications</h1>

  {% for paper in site.data.pubs %}

    <section class="expands">
      <input type="checkbox" name="collapse" id="{{ paper[0] }}" />

      <p class="title">
        <label for="{{ paper[0] }}">
          {{ paper[1].authors }}.
          "{{ paper[1].title }}".
          In <i>{{paper[1].venue}}</i>.
        </label>
      </p>

      <div id="content">
        <section class="abstract">
          {{ paper[1].abstract | markdownify }}
        </section>

        {{ paper[1].link | markdownify }}

      </div>
    </section>

  {% endfor %}

</div>

<!-- <div class="box" id="teaching">
  <h2>teaching</h2>

  <h3>At the University of Iowa</h3>

  <p>
    CS:5850 (Semantics): Spring 2022, Spring 2024, Spring 2025
  </p>

  <p>
    CS:4980 (Functional algorithms): Spring 2021, Spring 2023
  </p>

  <p>
    CS:3820 (Programming languages): Fall 2020, Fall 2021, Fall 2022, Fall 2023
  </p>

  <h3>At the University of Kansas</h3>

  <p>
    EECS 210 (Discrete mathematics): <a href="eecs210s20/index.html">Spring 2020</a>
  </p>

  <p>
    EECS 662 (Programming languages): <a href="eecs662f17/index.html">Fall 2017</a>, <a href="eecs662s19/index.html">Spring 2019</a>, <a href="eecs662s20/index.html">Spring 2020</a>
  </p>

  <p>
    EECS 665 (Compilers): <a href="eecs665s18/index.html">Spring 2018</a>
  </p>

  <p>
    EECS 762 (Semantics): <a href="eecs762f18/index.html">Fall 2018</a>, <a href="eecs762f19/index.html">Fall 2019</a>
  </p>
</div> -->

<div class="box" id="contact">
  <h1>contact</h1>

  <table>
    <tr>
      <td>Electronic mail:</td>
      <td>
        garrett-morris@uiowa.edu
      </td>
    </tr>
    <tr>
      <td>DBLP:</td>
      <td>
        <a href="https://dblp.uni-trier.de/pers/hd/m/Morris:J=_Garrett">J. Garrett Morris</a>
      </td>
    </tr>
    <tr>
      <td>Google scholar:</td>
      <td>
        <a href="https://scholar.google.com/citations?user=PZIdxNgAAAAJ&hl=en">PZIdxNgAAAAJ</a>
      </td>
    </tr>
    <tr>
      <td>OrcID:</td>
      <td>
        <a href="https://orcid.org/0000-0002-3992-1080">0000-0002-3992-1080</a>
      </td>
    </tr>
  </table>
</div>

</body>
</html>
